.wd-tabs li {
  display: inline;
}

.wd-tabs {
  padding-left: 0px;
}

.wd-selected {
  border-bottom: 2px blue solid;
  padding-bottom: 20px;
}

.wd-nudge-up {
  bottom: 18px;
  left: 25px;
}

.wd-bottom-2 {
  bottom: 2px;
}

.wd-bottom-4 {
  bottom: 4px;
}

.wd-post-icon {
  text-decoration: none;
}

.wd-banner-pic {
  width: 96%;
  position: absolute;
  top: 0;
  z-index: 1;
  height: 400px;
}

.wd-profile-pic {
  top: 325px;
  position: absolute;
  z-index: 2;
  border: 1px solid lightgray;
  width: 150px;
}

.wd-save-edit-bar {
  top: auto;
  width: 96%;
  height: 50px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid lightgray;
  z-index: 3;
}

.wd-profile-content {
  top: 460px;
  position: relative;
}

.wd-edit-profile-content {
  top: 500px;
  position: relative;
}

.wd-profile-btn {
  top: 410px;
  right: 0;
  position: relative;
}

.wd-edit-div {
  border: 1px solid lightgray;
  border-radius: 5px;
}

.wd-profile-handle {
  color: #808383;
}

.wd-profile-icon {
  color: rgb(69, 65, 65);
}

.wd-edit-profile-x {
  text-decoration: none;
  color: black;
}

.wd-edit-save-btn {
  color: white;
  background-color: black;
  border: 1px solid lightgray;
}
